* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

body {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.nav-bg {
    background-color: #010101;
    padding: 24px 0px;
    margin-bottom: 64px;
}

.nav-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-btn {
    background-color: #D3D1D1;
    color: black;
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}

.profile {
    max-width: 256px;
}

.card {
    background-color: #FFF;
}

@media (min-width: 868px) {
    .flex {
        display: flex;
        gap: 32px;
    }

    .flex > div {
        flex: 1 0 0;
    }
}